<div class="site-main" id="sTop">
  <div class="site-header">
    <div class="main-header">
      <div class="container">
        <div id="menu-wrapper">
          <div class="row">
            <div class="logo-wrapper col-md-4 col-sm-3 col-xs-8">
              <h1> <%= link_to 'AXIS', controller: "posts", action: "index" %> </h1>
            </div>
            <!-- /.logo-wrapper -->
            <div class="col-md-8 col-sm-9 col-xs-4 main-menu text-right">
              <ul class="menu-first hidden-sm hidden-xs">
                <li class="active"><%= link_to '首頁', controller: "posts", action: "index" %></li>
                <li> <%= link_to '線上報名', controller: "posts", action: "index", anchor: "services" %> </li>
                <li><a href="#contact">CBRE海外淘金</a></li>
                <li> <%= link_to '案件介紹', controller: "posts", action: "case" %> </li>
                 <li> <%= link_to '執行單位', controller: "posts", action: "cbre" %> </li>
              </ul>
              <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a> </div>
            <!-- /.main-menu --> 
          </div>
          <!-- /.row --> 
        </div>
        <!-- /#menu-wrapper -->
        <div class="menu-responsive hidden-md hidden-lg">
          <ul>
            <li class="active"><a href="#">首頁</a></li>
            <li> <%= link_to '線上報名', controller: "posts", action: "index", anchor: "services" %> </li>
            <li><a href="#contact">CBRE海外淘金</a></li>
            <li> <%= link_to '案件介紹', controller: "posts", action: "case" %> </li>
            <li> <%= link_to '執行單位', controller: "posts", action: "cbre" %> </li>
          </ul>
        </div>
        <!-- /.menu-responsive --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.main-header --> 
  </div>
  <!-- /.site-header -->
  <div class="site-slider">
    <div class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="overlay"></div>
            <%= image_tag("Axis_overall_cam_1_01.jpg") %>
            <div class="slider-caption visible-md visible-lg">
              <h2>世邦魏理仕-海外投資不動產說明會 <br>
              </h2>
              <p></p>
              <%= link_to '案件介紹', {controller: "posts", action: "case"}, class: "slider-btn" %>
              </div>
          </li>
        </ul>
      </div>
      <!-- /.flexslider --> 
    </div>
    <!-- /.slider --> 
  </div>
  <!-- /.site-slider --> 
</div>
<!-- /.site-main --> 
<!-- /.container -->
<div class="content-section" id="contact">
  <div class="container">
    <div class="row">
      <div class="heading-section col-md-12 text-center">
        <h2>世邦魏理仕</h2>
        <p>海外投資不動產說明會</p>
      </div>
      <!-- /.heading-section -->
      <div class="col-md-12 col-sm-12 text-center">
        <p>感謝您的填寫，我們將盡速派員處理您的需求。</p>
      </div>
      <!-- /.col-md-8 --> 
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</div>
<!-- /#contact -->
<div id="footer">
  <div class="container">
    <div class="row">
   <div class="col-md-8 col-xs-12 text-left">
                    <a class="fb" href="https://www.facebook.com/cbre" target="_blank">facebook</a><span> | <span>
                    <a class="cbre" href="http://www.cbre.com.tw/CT/Pages/Home.aspx?redirect=true" target="_blank">CBRE</a><span> | <span>
                    <a class="spring" href="http://www.siameseasset.co.th/Exclusive-Member/">Siamese Asset </a><span> | <span>
                    <a href="http://www.cbre.com/EN/Pages/legal/disclaimer.aspx" target="_blank">免責聲明 / 使用條款</a> |
                    <a href="http://www.cbre.com/EN/Pages/legal/privacypolicy.aspx" target="_blank">私隱保護條例</a> |
                    <a href="http://www.cbre.com.tw/CT/Pages/taiwanprivacypolicy.aspx" target="_blank">台灣隱私政策聲明</a> |
                    <a href="http://www.cbre.com.tw/CT/Pages/TW_PDPA.aspx" target="_blank">台灣個資維護計畫</a>
                </div>
      <!-- /.text-center -->
      <div class="col-md-4 hidden-xs text-right"> <a href="#top" id="go-top">TOP</a> </div>
      <!-- /.text-center --> 
    </div>
    <!-- /.row --> 
  </div>
  <!-- /.container --> 
</div>
<!-- /#footer --> 
<!-- Facebook Conversion Code for 世邦魏理仕說明會 --> 
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6030631981440', {'value':'1.00','currency':'TWD'}]);
</script>
<noscript>
<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6030631981440&amp;cd[value]=1.00&amp;cd[currency]=TWD&amp;noscript=1" />
</noscript>
<!-- 
Flex Template 
http://www.templatemo.com/preview/templatemo_406_flex 
-->